@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
$VeryDarkBlueLightModeText: hsl(200, 15%, 8%);
$DarkGrayLightModeInput: hsl(0, 0%, 52%);
$VeryLightGrayLightModeBackground: hsl(0, 0%, 98%);
$WhiteDarkModeTextLightModeElements: hsl(0, 0%, 100%);
$DarkBlueDarkModeElements: hsl(209, 23%, 22%);
$VeryDarkBlueDarkModeBackground: hsl(207, 26%, 17%);
html::-webkit-scrollbar,
input[type="checkbox"] {
  display: none;
}
body,
p {
  margin: 0;
}
.none {
  display: none;
}
.flex {
  display: flex;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  & svg {
    height: 20px;
    margin-left: auto;
    stroke-width: 2rem;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}
.container {
  margin: auto;
  max-width: 1280px;
  padding: 0 2rem;
}
header {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  & > div {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 800;
  }
  & p:last-child {
    margin-left: 1rem;
    font-size: 1.1rem;
    font-weight: 300;
  }
  & label {
    display: flex;
    align-items: center;
  }
}

main {
  width: 100vw;
  overflow: hidden;
  display: flex;
  & #details {
    & button {
      cursor: pointer;
      margin: 5rem 0;
      display: flex;
      font-size: 1rem;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 2rem;
      border-radius: 0.3rem;
      border: none;
      & svg {
        margin-right: 1rem;
      }
    }
  }
  & #home,
  #details {
    scroll-margin-top: 80px;
    margin-top: 5rem;
    padding: 0 2rem 3rem;
    flex-shrink: 0;
    width: calc(100vw - 4rem);
    min-height: calc(100vh - 80px);
    & #filters {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 3rem auto;
      max-width: 1280px;
      & input {
        outline: none;
        position: relative;
        padding: 1rem 1rem 1rem 3.5rem;
        width: 90vw;
        max-width: 30rem;
        border: none;
        font-size: 1rem;
      }
      & label {
        font-size: 1.1em;
      }
    }
    & #input {
      position: relative;
      & input::placeholder {
        font-weight: 300;
        font-size: 0.9rem;
      }
      & label {
        position: absolute;
        left: 1.5rem;
        top: 1rem;
      }
    }
    & .country {
      cursor: pointer;
      width: 100%;
      padding-bottom: 2.5rem;
      overflow: hidden;
      & > :not(:first-child) {
        padding: 0 1.5rem;
      }
      & img {
        width: 100%;
        height: 160px;
      }
      & p {
        font-size: 0.9rem;
        line-height: 1.6rem;
        font-weight: 600;
        & span {
          font-weight: 300;
        }
      }
      & :nth-child(2) {
        font-size: 1.1rem;
        margin: 1rem 0 0.8rem;
        font-weight: 800;
      }
    }
    & #container {
      max-width: 1280px;
      margin: 0 auto;
      display: grid;
      gap: clamp(2rem, 4.5vw, 5rem);
    }
  }
}

#filterByRegion {
  width: 200px;
  position: relative;
  & > label {
    height: 50px;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    border-radius: 0.3rem;
  }
}

#regions {
  position: absolute;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  top: 3.5rem;
  right: 0rem;
  padding: 1rem 0;
  & p {
    cursor: pointer;
    padding: 0.2rem 1.5rem;
  }
  & p:hover {
    transition: all 0.1s;
  }
}

#countriesSuggested {
  position: absolute;
  top: 3.5rem;
  width: 30rem;
  & p {
    padding: 1rem;
    &:hover {
      cursor: pointer;
      transition: all 0.1s;
    }
  }
}

#insertDetails {
  & img {
    width: 40%;
    height: 50%;
    max-height: 400px;
  }
  & #countryName {
    font-size: 2rem;
    font-weight: 800;
  }
  & #infos {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 600;
    gap: 1rem;
    & span {
      font-weight: 300;
    }
  }
  & #info1,
  #info2 {
    line-height: 2rem;
  }
  & > div {
    display: flex;
    gap: 8vw;
  }
  & > div > div {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  & #borders {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0.3rem;
    font-size: 1rem;
    & p {
      font-weight: 600;
      margin-right: 1rem;
    }
    & button {
      padding: 0.5rem 2rem;
      margin: 0;
      font-size: 0.8rem;
    }
  }
}
.lightmode {
  & header {
    box-shadow: 0 5px 5px 0 lighten($DarkGrayLightModeInput, 40);
    background-color: $WhiteDarkModeTextLightModeElements;
    & a {
      color: $VeryDarkBlueLightModeText;
    }
  }
  & main {
    background-color: $VeryLightGrayLightModeBackground;
    & .country {
      background-color: $WhiteDarkModeTextLightModeElements;
      &:hover {
        box-shadow: 0 0.3rem 1rem 0.3rem rgba(0, 0, 0, 0.1);
      }
    }
    & #filterByRegion {
      & > label {
        background-color: $WhiteDarkModeTextLightModeElements;
      }
    }
    & #regions {
      background-color: $WhiteDarkModeTextLightModeElements;
      & p:hover {
        background-color: $DarkGrayLightModeInput;
        color: $WhiteDarkModeTextLightModeElements;
      }
    }
    & #countriesSuggested {
      background-color: $WhiteDarkModeTextLightModeElements;
      & p {
        &:hover {
          background-color: $DarkGrayLightModeInput;
          color: $WhiteDarkModeTextLightModeElements;
        }
      }
    }
    & #details {
      & button {
        background-color: $WhiteDarkModeTextLightModeElements;
      }
    }
    & input[type="search"] {
      background-color: $WhiteDarkModeTextLightModeElements;
      color: $VeryDarkBlueLightModeText;
    }
  }
  & svg {
    fill: none;
    stroke: $VeryDarkBlueLightModeText;
  }
}
.darkmode {
  & header {
    box-shadow: 0 5px 5px 0 darken($DarkGrayLightModeInput, 40);
    background-color: $DarkBlueDarkModeElements;
    color: $WhiteDarkModeTextLightModeElements;
    & a {
      color: $WhiteDarkModeTextLightModeElements;
    }
    & svg {
      fill: orange;
      stroke: none;
    }
  }
  & main {
    color: $WhiteDarkModeTextLightModeElements;
    background-color: $VeryDarkBlueDarkModeBackground;
    & .country {
      background-color: $DarkBlueDarkModeElements;
      &:hover {
        box-shadow: 0 0.3rem 1rem 0.3rem rgba(0, 0, 0, 0.1);
      }
    }
    & #filterByRegion {
      & > label {
        background-color: $DarkBlueDarkModeElements;
      }
    }
    & #regions {
      background-color: $DarkBlueDarkModeElements;
      & p:hover {
        background-color: $DarkGrayLightModeInput;
        color: $WhiteDarkModeTextLightModeElements;
      }
    }
    & #countriesSuggested {
      background-color: $DarkBlueDarkModeElements;
      & p {
        &:hover {
          background-color: $DarkGrayLightModeInput;
          color: $DarkBlueDarkModeElements;
        }
      }
    }
    & #details {
      & button {
        background-color: $DarkBlueDarkModeElements;
        color: $WhiteDarkModeTextLightModeElements;
      }
    }
    & input[type="search"] {
      background-color: $DarkBlueDarkModeElements;
      color: $WhiteDarkModeTextLightModeElements;
      &::placeholder {
        color: $WhiteDarkModeTextLightModeElements;
      }
    }
  }
  & svg {
    fill: none;
    stroke: $WhiteDarkModeTextLightModeElements;
  }
}
@media (max-width: 480px) {
  header label p {
    display: none;
  }
}
@media (max-width: 767px) {
  #inputCountry {
    margin-bottom: 2rem;
  }
}
@media (max-width: 768px) {
  #filters {
    flex-direction: column;
  }
}
@media (min-width: 375px) {
  #container {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 480px) {
  #container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  #container {
    grid-template-columns: repeat(3, 1fr);
  }
  #filters {
    flex-direction: row;
  }
}
@media (min-width: 1100px) {
  #container {
    grid-template-columns: repeat(4, 1fr);
  }
}
.shadow {
  border-radius: 0.3rem;
  box-shadow: 0 0.1rem 0.5rem 0.1rem rgba(0, 0, 0, 0.05);
}

@media (max-width: 1100px) {
  #details .container {
    padding: 0;
  }
  #insertDetails {
    & > div {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      & > div {
        width: 100%;
      }
    }

    & img {
      width: 100%;
    }
    & #infos {
      flex-direction: column;
      margin-bottom: 1rem;
    }
  }
  #borders {
    width: 100%;
  }
}
